.additional-products {
  overflow: hidden;
}

.additional-products__container {
  @include centring(0 auto, 280px);
}

.additional-products__title {
  @include content-text(24px, 24px);

  position: relative;

  margin: 0;
  padding-top: 6px;
  padding-bottom: 33px;
  width: 247px;

  color: $black;

  &::after {
    content: "";
    position: absolute;
    top: 30%;
    right: 0;
    transform: translateX(100%);

    width: 100vw;
    height: 3px;
    background-color: $green;
  }
}

.additional-products__block-wrapper {
  @include centring(0 auto, 280px);
}

.additional-products__list {
  @include centring(0 auto, 280px);

  padding: 0;

  list-style: none;
}

.additional-products__item {
  padding-bottom: 17px;

  margin-top: -1px;

  border-top: $border;
  border-bottom: $border;
}

.additional-products__item-name {
  @include content-text(16px, 16px);

  margin: 0;
  padding-top: 15px;
  padding-bottom: 12px;

  color: $black;
  text-transform: uppercase;
}

.additional-products__description {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-bottom: 14px;
}

.additional-products__value {
  @include content-text (14px, 14px);

  font-family: "Arial", sans-serif;
  color: #000000;
}

.additional-products__price {
  @include content-text (14px, 14px);

  font-family: "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.additional-products__present {
  margin-top: 39px;
  margin-bottom: 35px;
  width: 280px;

  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $green;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}

.additional-products__present-order-now {
  @include centring (0 auto, 162px);
  @include content-text (16px, 20px);

  position: relative;

  padding-top: 188px;
  padding-bottom: 41px;

  font-family: "Arial", sans-serif;
  color: $white;
  text-align: center;

  &::before {
    content: "";

    position: absolute;
    top: 65px;
    left: 54px;

    display: block;
    width: 55px;
    height: 60px;

    background-image: url("../img/gift.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: $tablet-width) {
  .additional-products {

    padding-bottom: 76px;
    overflow: hidden;
  }

  .additional-products__container {
    @include centring(0 auto, 708px);
  }

  .additional-products__title {
    @include content-text(36px, 36px);

    margin: 0;
    padding-top: 3px;
    padding-bottom: 78px;
    padding-left: 37px;
    width: 374px;

    &::before {
      content: "";
      position: absolute;
      top: 20%;
      left: 0;
      transform: translateX(-100%);

      width: 100vw;
      height: 3px;
      background-color: $green;
    }

    &::after {
      content: "";

      top: 20%;
    }
  }

  .additional-products__block-wrapper {
    @include centring(0 auto, 708px);

    display: flex;
    flex-direction: column;
  }

  .additional-products__list {
    @include centring(0 auto, 708px);
  }

  .additional-products__item {
    display: flex;
    flex-direction: column;
    margin-top: -1px;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 37px;
    padding-right: 35px;

    border: $border;
  }

  .additional-products__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 8px;
  }

  .additional-products__item-name {
    @include content-text(20px, 20px);

    padding: 0;

    color: $black;
    text-transform: uppercase;
  }

  .additional-products__description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3px;
    width: 229px;

    &--water-width {
      width: 163px;
    }

    &--milk-width {
      width: 145px;
    }

    &--vitamins-width {
      padding-top: 0;
      width: 221px;
    }
  }

  .additional-products__value {
    @include content-text(16px, 20px);

    display: block;
  }

  .additional-products__price {
    @include content-text(16px, 20px);

    display: block;
  }

  .additional-products__present {
    @include centring(0 auto, 708px);

    margin-top: 73px;

    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  .additional-products__present-order-now {
    padding-top: 72px;
    padding-bottom: 68px;
    padding-left: 321px;
    width: 183px;

    text-align: left;

    &::before {
      content: "";

      left: -10px;
    }
  }
}

@media (min-width: $desktop-width) {
  .additional-products {
    margin-bottom: 10px;
  }

  .additional-products__container {
    @include centring(0 auto, 1220px);
  }

  .additional-products__title {
    padding-left: 0;
    padding-top: 77px;
    padding-bottom: 79px;

    &::before {
      top: 51%;
      left: -40px;
    }

    &::after {
      content: "";

      top: 51%;
    }
  }

  .additional-products__block-wrapper {
    @include centring(0 auto, 1220px);

    flex-direction: row;
    justify-content: space-between;
  }

  .additional-products__list {
    margin: 0;
    padding-right: 80px;
    width: 895px;
  }

  .additional-products__item {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 16px;

    border: none;
    border-top: $border;
    border-bottom: $border;
  }

  .additional-products__wrapper {
    padding: 0;
    padding-top: 12px;
    padding-right: 38px;
  }

  .additional-products__item-name {
    padding-right: 80px;
    width: 245px;
  }

  .additional-products__description {
    padding: 0;
    padding-top: 2px;
    width: 287px;
  }

  .additional-products__price--span {
    padding-right: 8px;
  }

  .additional-products__present {
    margin: 0;
    padding-top: 0;
    width: 245px;

    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }

  .additional-products__present-order-now {
    @include centring(0 auto, 164px);

    padding: 0;
    padding-top: 187px;
    padding-bottom: 41px;

    text-align: center;

    &::before {
      content: "";

      left: 54px;
    }
  }
}
