.advantages {
  padding-top: 35px;
  min-width: 320px;
  margin: 0 auto;
}

.advantages__title {
  @include centring (0 auto, 280px);
  @include content-text (36px, 60px);

  margin-bottom: 42px;

  color: $black;
}

.advantages__description {
  @include centring(0 auto, 177px);
  @include content-text(14px, 18px);

  padding-left: 80px;
  padding-bottom: 48px;

  color: $black;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    padding-top: 53px;
    width: 768px;

    border-bottom: $border;
  }

  .advantages__container {
    @include centring(0 auto, 708px);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantages__title {
    @include content-text(60px, 60px);

    margin: 0;
    padding-top: 55px;
    padding-bottom: 75px;
    padding-left: 30px;
    width: 430px;

    color: $black;
    text-align: left;
  }

  .advantages__description {
    @include content-text(16px, 24px);

    margin: 0;
    padding-left: 0;
    padding-right: 100px;
    padding-bottom: 140px;
    width: 210px;

    font-family: "Arial", sans-serif;
    color: $black;

    &:nth-child(2n + 2) {
      padding-right: 0;
    }

    &:nth-child(n + 3) {
      padding-bottom: 104px;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    @include centring(0 auto, 1220px);

    padding-top: 83px;

    border: none;
  }

  .advantages__title {
    padding-top: 0;
    padding-bottom: 180px;
    padding-left: 0;
    width: 420px;

    color: $black;
  }

  .advantages__container {
    @include centring(0 auto, 1220px);

    border: none;
  }

  .advantages__description {
    @include content-text(16px, 24px);

    padding-bottom: 0;
    padding-right: 80px;
    width: 245px;

    font-family: "Arial", sans-serif;
    color: $black;

    &:nth-child(2n + 2) {
      padding-bottom: 0;
      padding-right: 80px;
    }

    &:nth-child(3) {
      padding-bottom: 0;
    }

    &:last-child {
      padding-bottom: 0;
      padding-right: 0;
    }
  }
}
