.button {
  display: block;
  margin: $content-center;
  padding-top: 13px;
  padding-bottom: 13px;
  width: 280px;

  color: $white;
  font-size: $description;
  font-weight: $regular;
  line-height: $description;
  text-transform: uppercase;
  text-align: center;

  border: none;
}

.button--green {
  background-color: $btn-green;
}

@media (min-width: $tablet-width) {
  .button--green {
    position: relative;
    z-index: 2;

    margin: 0;
    margin-left: 120px;
    width: 245px;
  }
}

.button--gray {
  display: block;

  color: #444444;

  background-color: #f2f2f2;
}
