.button {
  @include centring(0 auto, 280px);
  @include content-text(14px, 18px);

  box-sizing: border-box;
  display: block;
  padding-top: 13px;
  padding-bottom: 13px;

  font-family: "Oswald", "Arial", sans-serif;
  color: $white;
  text-transform: uppercase;
  text-align: center;

  border: none;
}

.button--green {
  background-color: $green;
}

.button--order {
  padding-top: 12px;
  padding-bottom: 8px;
  width: 280px;

  font-size: 16px;
  line-height: 20px;
}

.button--add-order {
  padding-top: 12px;
  padding-bottom: 8px;
  width: 280px;

  font-size: 16px;
  line-height: 20px;
}

.button--send {
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 16px;
  line-height: 20px;
}

.button--gray {
  color: #444444;

  background-color: #f2f2f2;
}

@media (min-width: $tablet-width) {
  .button--program {
    @include content-text(20px, 20px);

    position: relative;
    z-index: 2;

    margin: 0;
    margin-top: 17px;
    margin-left: 89px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 245px;
  }

  .button--order {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 249px;
  }

  .button--add-order {
    padding-top: 11px;
    width: 633px;
  }

  .button--send {
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 37px;
    padding-right: 40px;
    width: 283px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .button--program {
    margin-top: 53px;
    margin-left: 80px;
    padding-top: 14px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 20px;
    width: 245px;
  }

  .button--order {
    padding-top: 13px;
    padding-bottom: 7px;
    width: 168px;
  }

  .button--add-order {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 45px;
    padding-right: 45px;
    width: 245px;
  }

  .button--send {
    margin: 0;
    padding-top: 16px;
    padding-bottom: 17px;
    width: 569px;
  }
}
