.catalog-production {
  padding-bottom: 23px;
}

.catalog-production__catalog {
  margin: 0;
  padding: 0;
}

.catalog-production__item {
  padding-bottom: 24px;

  border-bottom: $border;

  &:last-child {
    padding-bottom: 0;
  }
}

.catalog-production__wrapper {
  @include centring(0 auto, 280px);

  display: flex;
  flex-direction: row;
}

.catalog-production__logo-link {
  display: block;
  width: 140px;
}

.catalog-production__inner-wrapper {
  padding-top: 22px;
  padding-bottom: 22px;
}

.catalog-production__item-name {
  margin: 0;
  width: 75px;
}

.catalog-production__link {
  @include content-text(16px, 20px);

  display: block;

  color: $black;
  text-transform: uppercase;
}

.catalog-production__description {
  display: block;
  padding-top: 12px;
  width: 140px;

  & tbody {
    display: block;
    width: 140px;
  }

  & tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 140px;
  }
}

.catalog-production__stats-field {
  @include content-text(12px, 16px);

  padding: 0;

  font-family: "Arial", sans-serif;
  color: $black;
}

.catalog-production__stats-value {
  @include content-text(12px, 16px);

  padding: 0;

  font-family: "Arial", sans-serif;
  color: $black;
}

.catalog-production__more {
  @include centring(0 auto, 320px);

  padding-bottom: 24px;

  border-bottom: $border;
}

.catalog-production__title {
  @include centring(0 auto, 214px);
  @include content-text(16px, 20px);

  position: relative;

  padding-top: 81px;
  padding-bottom: 6px;

  color: $black;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  text-align: center;

  &::before {
    content: "";

    position: absolute;
    top: 26px;
    right: 106px;

    display: block;
    width: 2px;
    height: 30px;

    background-color: $bg-gray;
  }

  &::after {
    content: "";

    position: absolute;
    top: 40px;
    right: 93px;

    display: block;
    width: 30px;
    height: 2px;

    background-color: $bg-gray;
  }
}

.catalog-production__sub-title {
  @include content-text(12px, 16px);

  margin: 0;
  padding-bottom: 21px;

  font-family: "Arial", sans-serif;
  color: $black;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .catalog-production {
    @include centring(0 auto, 708px);

    padding-top: 133px;
    padding-bottom: 0;
    overflow: hidden;
  }

  .catalog-production__catalog {
    @include centring(0 auto, 708px);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: -75px;
  }

  .catalog-production__item {
    margin-bottom: 140px;
    margin-right: 60px;
    padding-top: 106px;
    padding-bottom: 41px;
    width: 324px;

    background-color: #f2f2f2;
    border: none;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:last-child {
      box-sizing: border-box;

      background-color: $white;
      border: $border;
    }
  }

  .catalog-production__wrapper {
    @include centring(0 auto, 251px);

    position: relative;

    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 251px;
  }

  .catalog-production__item-name {
    @include centring(0 auto, 140px);

    padding-bottom: 26px;
    order: 2;

    text-align: center;
  }

  .catalog-production__link {
    @include content-text(20px, 20px);

    display: block;

    color: $black;
    text-transform: uppercase;
  }

  .catalog-production__logo-link {
    position: absolute;
    top: -151px;
    left: -31px;

    display: block;
    order: 0;

    &--big {
      top: -188px;
      left: -34px;
    }
  }

  .catalog-production__logo-img {
    width: 312px;
    height: 170px;

    &--big {
      width: 319px;
      height: 208px;
    }
  }

  .catalog-production__inner-wrapper {
    padding-top: 58px;
    padding-bottom: 33px;
    order: 1;
  }

  .catalog-production__description {
    padding-top: 0;
    width: 250px;
    order: 3;

    & tbody {
      width: 250px;
    }

    & tr {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 8px;
      padding-bottom: 7px;
      width: 250px;

      border-bottom: $border;
    }

    & tr:first-child {
      padding-top: 0;
    }
  }

  .catalog-production__stats-field {
    @include content-text(16px, 16px);

    text-align: left;
  }

  .catalog-production__stats-value {
    @include content-text(16px, 16px);

    text-align: right;
  }

  .catalog-production__title {
    @include centring(0 auto, 136px);
    @include content-text(20px, 20px);

    padding-top: 56px;
    padding-bottom: 24px;
    width: 139px;

    &::before {
      content: "";

      position: absolute;
      top: -52px;
      right: 69px;

      display: block;
      width: 2px;
      height: 60px;

      background-color: $bg-gray;
    }

    &::after {
      content: "";

      position: absolute;
      top: -23px;
      right: 39px;

      display: block;
      width: 60px;
      height: 2px;

      background-color: $bg-gray;
    }
  }

  .catalog-production__sub-title {
    @include centring(0 auto, 171px);
    @include content-text(16px, 19px);

    padding-bottom: 86px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-production {
    @include centring(0 auto, 1220px);

    padding-top: 161px;
    overflow: hidden;
  }

  .catalog-production__catalog {
    @include centring(0 auto, 1220px);

    margin-bottom: -142px;
  }

  .catalog-production__item {
    margin-bottom: 142px;
    margin-right: 80px;
    padding-top: 93px;
    padding-bottom: 40px;
    width: 245px;

    &:nth-child(2n) {
      margin-right: 80px;
    }

    &:nth-child(4n+4) {
      margin-right: 0;
    }
  }

  .catalog-production__wrapper {
    @include centring(0 auto, 170px);
  }

  .catalog-production__item-name {
    @include centring(0 auto, 150px);

    padding-bottom: 25px;
  }

  .catalog-production__logo-link {
    top: -137px;
    left: -37px;

    &--big {
      top: -174px;
    }
  }

  .catalog-production__logo-img {
    width: 242px;

    &--big {
      width: 244px;
    }
  }

  .catalog-production__inner-wrapper {
    padding-top: 72px;
    padding-bottom: 32px;
  }

  .catalog-production__description {
    width: 170px;

    & tbody {
      width: 170px;
    }

    & tr {
      @include centring(0 auto, 170px);

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 10px;
      padding-bottom: 6px;

      border-bottom: $border;
    }

    & tr:first-child {
      padding-top: 0;
    }
  }

  .catalog-production__title {
    @include centring(0 auto, 142px);

    padding-top: 72px;

    &::before {
      content: "";

      top: -38px;
    }

    &::after {
      content: "";

      top: -10px;
    }
  }

  .catalog-production__sub-title {
    @include centring(0 auto, 175px);

    padding-bottom: 83px;
  }
}
