.greetings-block {
  padding-top: 17px;
  padding-bottom: 26px;

  border-bottom: $border;

  &--form {
    padding-bottom: 11px;

    border: none;
  }
}

.greetings-block__main-title {
  @include centring(0 auto, 280px);
  @include content-text(36px, 60px);

  color: $black;
}

@media (min-width: $tablet-width) {
  .greetings-block {
    padding-top: 58px;

    border: none;
  }

  .greetings-block__main-title {
    @include centring(0 auto, 708px);
    @include content-text(60px, 60px);
  }
}

@media (min-width: $desktop-width) {
  .greetings-block {
    padding: 0;
  }

  .greetings-block__main-title {
    @include centring(0 auto, 1220px);

    padding-top: 93px;
    padding-left: 0;
  }
}
