.main-header {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

.main-header__logo {
  @include centring(0 auto, 280px);

  display: block;
}

@media (min-width: $tablet-width) {
  .main-header {
    @include centring(0 auto, 708px);

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    @include centring(0 auto, 1220px);
  }

  .main-header__logo {
    margin: 0;
  }
}
