.main-header {
  display: flex;
  flex-direction: column;
}

.main-header__logo {
  @include centring(0 auto, 280px);

  display: block;
}

@media (min-width: $tablet-width) {
  .main-header {
    @include centring(0 auto, 708px);

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    @include centring(0 auto, 1220px);

    position: relative;
  }

  .main-header__wrapper {
    position: relative;

    display: flex;
    justify-content: space-between;
    width: 1220px;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      right: -63px;
      z-index: 1;

      display: block;
      height: 698px;
      width: 720px;

      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-size: 100% 698px;
    }
  }

  .main-header__logo {
    margin: 0;
  }
}
