.living-example {
  background-color: $bg-gray;
}

.living-example__title {
  @include centring(0 auto, 280px);
  @include content-text(36px, 60px);

  padding-top: 33px;
  padding-bottom: 21px;

  color: $black;
}

.living-example__description {
  @include centring(0 auto, 279px);
  @include content-text(14px, 18px);

  padding-bottom: 26px;

  font-family: "Arial", sans-serif;
  color: $black;

  & br {
    display: none;
  }
}

.living-example__conclusion {
  @include centring(0 auto, 280px);

  display: flex;
  justify-content: space-between;
  padding-bottom: 35px;
}

.living-example__weight-time {
  position: relative;
}

.living-example__value {
  @include content-text(24px, 24px);

  position: relative;
  z-index: 1;

  box-sizing: border-box;
  margin: 0;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 10px;
  padding-right: 10px;
  width: 124px;

  color: $black;
  text-transform: uppercase;
  text-align: center;

  border: $border;
}

.living-example__specification {
  @include content-text(12px, 12px);

  position: absolute;
  z-index: 2;
  bottom: -15px;
  left: 17px;

  margin: 0;
  padding-left: 13px;
  padding-right: 15px;
  width: 60px;

  font-family: "Arial", sans-serif;
  color: $black;
  text-align: center;
  text-transform: lowercase;

  background-color: $bg-gray;
}

.living-example__food-cost {
  @include centring(0 auto, 280px);
  @include content-text(14px, 20px);

  display: block;
  padding-bottom: 39px;

  color: $black;
  text-transform: uppercase;
  text-align: center;
}


.living-example__slider {
  @include centring(0 auto, 280px);
}

.living-example__slide-list {
  @include centring(0 auto, 203px);

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-top: 40px;
  padding-bottom: 32px;
}

.living-example__slide-item {
  @include content-text(16px, 20px);

  font-family: inherit;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: none;

  &:last-child {
    margin-right: -7px;
  }

  &:disabled {
    border: none;
  }
}

.living-example__toggle {
  margin-top: 3px;
  width: 86px;
  height: 12px;

  background-color: $white;
  border: 1px solid #cdcdcd;
  border-radius: 15px;
}

.living-example__range {
  margin: 3px;
  margin-left: 8px;
  width: 40%;
  height: 6px;

  background-color: #68b738;
  border-radius: 15px;
}

@media (min-width: $tablet-width) {
  .living-example {
    background-color: $white;
  }

  .living-example__title {
    @include centring(0 auto, 708px);
    @include content-text(60px, 60px);

    padding-top: 46px;
    padding-bottom: 61px;
  }

  .living-example__description {
    @include content-text(16px, 24px);

    margin: 0;
    padding-bottom: 54px;
    width: 680px;
  }

  .living-example__wrapper {
    @include centring(0 auto, 708px);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .living-example__conclusion {
    display: flex;
    justify-content: start;
    margin: 0;
    padding: 0;
    width: 366px;
  }

  .living-example__weight-time {
    padding-right: 40px;

    &:last-child {
      padding-right: 0;
    }
  }

  .living-example__value {
    @include content-text(30px, 37px);

    padding-bottom: 18px;
    width: 163px;
  }

  .living-example__specification {
    @include content-text(14px, 14px);

    top: 62px;
    left: 11px;

    padding: 0;
    padding-left: 6px;
    padding-right: 6px;
    width: 143px;
    box-sizing: border-box;

    background-color: $white;

    &--padding {
      left: 24px;

      padding: 0;
      width: 114px;
    }
  }

  .living-example__sub-title {
    padding-top: 8px;
    padding-right: 2px;
  }

  .living-example__food-cost {
    @include content-text(20px, 28px);

    padding: 0;
    width: 196px;

    text-transform: uppercase;
    text-align: right;
  }

  .living-example__result-action {
    margin-top: 255px;

    background-color: $bg-gray;
  }

  .living-example__slider {
    position: relative;

    padding-top: 368px;
    padding-bottom: 69px;
    width: 592px;
  }

  .living-example__results {
    position: absolute;
    top: -150px;
    left: 0;

    width: 468px;
  }

  .living-example__cat-logo {
    display: block;
    width: 515px;
    height: 485px;
  }

  .living-example__slide-list {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    padding-left: 10px;
    margin: 0;
    width: 576px;
  }

  .living-example__slide-item {
    @include content-text(20px, 20px);

    margin-right: 25px;
    padding: 0;
    padding-bottom: 5px;

    border-bottom: 1px dotted #bebebe;

    &:last-child {
      margin-left: 20px;
    }

    &:hover {
      border-bottom: 1px solid #989898;
    }

    &:active {
      border-bottom: 1px solid transparent;
    }
  }

  .living-example__toggle {
    margin-top: 7px;
    width: 428px;
    height: 6px;

    background-color: #dcdcdc;
    border: none;
  }

  .living-example__range {
    position: relative;

    margin-top: -14px;
    margin-left: 197px;
    width: 32px;
    height: 32px;

    border: $border;
    background-color: $white;
    cursor: pointer;

    &::after {
      content: "";

      position: absolute;

      top: 12px;
      right: 12px;

      display: block;
      width: 8px;
      height: 8px;

      background-color: $green;
      border-radius: 50%;
    }

    &:hover {
      border: 1px solid #cbcbcb;
    }

    &:active {
      border: 1px solid $green;
    }
  }
}

@media (min-width: $desktop-width) {
  .living-example {
    margin-top: 73px;
  }

  .living-example__first-container {
    background-color: $bg-gray;
  }

  .living-example__container {
    margin: 0 auto;
    padding-bottom: 60px;
    width: 1220px;
  }

  .living-example__title {
    @include centring(0 auto, 1220px);

    padding: 0;
    padding-bottom: 72px;

    background-color: $white;
  }

  .living-example__description {
    padding-top: 71px;
    padding-bottom: 0;
    width: 440px;

    & br {
      display: inline;
    }
  }

  .living-example__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .living-example__wrapper {
    display: block;
    padding-right: 210px;
    margin: 0;
    width: 440px;
  }

  .living-example__conclusion {
    padding-top: 69px;
  }

  .living-example__weight-time {
    padding-right: 40px;
  }

  .living-example__specification {
    background-color: $bg-gray;
  }

  .living-example__sub-title {
    padding-top: 58px;
  }

  .living-example__food-cost {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    width: 400px;

    text-align: left;
  }

  .living-example__price {
    @include content-text(20px, 20px);

    padding-left: 60px;

    color: $black;
    text-transform: uppercase;
    text-align: right;
  }

  .living-example__result-action {
    margin: 0;
    width: 570px;

    background-color: #f2f2f2;
  }

  .living-example__results {
    top: -342px;
    left: -40px;
  }

  .living-example__cat-logo {
    width: 535px;
  }

  .living-example__slider {
    padding-top: 60px;
    padding-bottom: 0;
    width: 570px;
  }

  .living-example__slide-list {
    @include centring(0 auto, 570px);

    padding-top: 140px;
    padding-left: 0;
  }
}
