.main-page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 320px;
}

@media (min-width: $tablet-width) {
  .main-page {
    min-width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .main-page {
    min-width: 1440px;
  }
}
