.main-nav__toggle {
  content: "";

  position: absolute;
  top: 0;
  right: 0;

  display: block;
  width: 70px;
  height: 63px;

  cursor: pointer;
  border: none;

  background-color: $white;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";

  position: absolute;
  top: 22px;
  right: 22px;

  width: 24px;
  height: 2px;

  background-color: $black;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 0;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 30px;
    right: 21px;

    width: 24px;
    height: 2px;

    background-color: $black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: $white;
  }
}

@media (max-width: $mobile-width) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--opened .main-nav__list {
    display: flex;
    flex-direction: column;
  }

  .main-nav--no-js .main-nav__toggle {
    display: none;
  }

  .main-nav-no-js .main-nav__list {
    display: flex;
    flex-direction: column;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  border-top: $border;
}

.main-nav__item {
  padding-top: 23px;
  padding-bottom: 14px;

  text-align: center;

  border-bottom: $border;
}

.main-nav__link {
  @include content-text(20px, 20px);

  display: block;
  padding-bottom: 8px;

  color: $black;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 450px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 1;
    padding-top: 18px;

    border: none;
  }

  .main-nav__item {
    padding-bottom: 7px;
    padding-left: 11px;
    padding-right: 22px;

    border: none;

    &:last-child {
      padding-left: 15px;
      padding-right: 0;
    }
  }

  .main-nav__link {
    @include content-text(18px, 25px);

    &--active {
      border-bottom: 2px solid #68b738;
    }

    &--active-inner {
      border-bottom: 2px solid #68b738;
    }

    &:hover:not(.main-nav__link--active):not(.main-nav__link--active-inner) {
      color: #111111;

      opacity: 0.6;
    }

    &:active:not(.main-nav__link--active-inner):not(.main-nav__link--active) {
      color: #111111;

      opacity: 0.3;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    position: relative;
    z-index: 2;

    margin: 0;
    width: 480px;
  }

  .main-nav__list {
    margin: 0;
    padding-top: 72px;
  }

  .main-nav__item {
    padding: 0;
    padding-right: 34px;

    &:last-child {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .main-nav__link {
    @include content-text(20px, 25px);

    color: $white;

    &:hover:not(.main-nav__link--active):not(.main-nav__link--active-inner) {
      color: $white;

      opacity: 0.6;
    }

    &--active {
      border-bottom: 2px solid $white;
    }

    &:active:not(.main-nav__link--active-inner):not(.main-nav__link--active) {
      color: $white;

      opacity: 0.3;
    }

    &--inner {
      color: $black;

      &:hover:not(.main-nav__link--active-inner):not(.main-nav__link--active) {
        color: #111111;

        opacity: 0.6;
      }

      &:active:not(.main-nav__link--active-inner):not(.main-nav__link--active) {
        color: #111111;

        opacity: 0.3;
      }
    }
  }
}
