.main-footer {
  background-color: $bg-gray;
}

.main-footer__container {
  @include centring(0 auto, 280px);
}

.main-footer__footer-logo-link {
  display: block;
  padding-top: 34px;
  padding-bottom: 29px;
  padding-left: 75px;

  border-bottom: $border;

  &:active {
    opacity: 0.6;
  }
}

.main-footer__social-list {
  @include centring(0 auto, 280px);

  display: flex;
  flex-direction: row;
  padding-top: 16px;
  padding-bottom: 22px;
  padding-left: 72px;
  padding-right: 80px;
  box-sizing: border-box;

  border-bottom: $border;
  list-style: none;
}

.main-footer__social-item:not(:first-child) {
  padding-left: 38px;
}

.main-footer__social-link {
  &:active .main-footer__social-svg {
    opacity: 0.3;
    fill: $green;
  }
}

.main-footer__social-svg {
  fill: #666666;
}

.main-footer__copyright {
  @include centring(0 auto, 280px);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 36px;

  &:active {
    opacity: 0.3;
  }

  &:active .main-footer__icon-htmlacademy {
    fill: $green;
  }
}

.main-footer__company-link {
  @include content-text(16px, 16px);

  display: block;
  padding-top: 29px;

  font-family: "Arial", sans-serif;
  color: $black;
}

.main-footer--uppercase {
  text-transform: uppercase;
}

.main-footer__company-logo {
  display: block;
  padding-top: 18px;
  height: 30px;
}

.main-footer__icon-htmlacademy {
  fill: #666666;
}

@media (min-width: $tablet-width) {
  .main-footer {
    background-color: #f2f2f2;
  }

  .main-footer__container {
    @include centring(0 auto, 708px);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 59px;
    padding-bottom: 30px;
  }

  .main-footer__footer-logo-link {
    margin: 0;
    padding-top: 4px;
    padding-left: 0;
    padding-bottom: 24px;
    width: 132px;

    border: none;

    &:active {
      opacity: 0.6;
    }

    &:hover {
      opacity: 0.8;
    }

    &:focus {
      opacity: 0.8;
    }
  }

  .main-footer__social-list {
    padding-top: 5px;
    padding-bottom: 24px;
    padding-left: 95px;
    width: 300px;

    border: none;
  }

  .main-footer__social-link {
    &:hover .main-footer__social-svg {
      fill: $green;
    }

    &:focus .main-footer__social-svg {
      fill: $green;
    }
  }

  .main-footer__social-item:not(:first-child) {
    padding-left: 28px;
  }

  .main-footer__social-svg--vk-svg {
    width: 30px;
    height: 27px;
  }

  .main-footer__social-svg--insta-svg {
    width: 23px;
    height: 23px;
  }

  .main-footer__social-svg--fb-svg {
    width: 21px;
    height: 28px;
  }

  .main-footer__copyright {
    margin: 0;
    padding-bottom: 24px;
    width: 162px;

    &:hover .main-footer__icon-htmlacademy {
      fill: $green;
    }

    &:focus .main-footer__icon-htmlacademy {
      fill: $green;
    }
  }

  .main-footer__company-link {
    @include content-text(16px, 16px);

    padding-top: 11px;

    font-family: "Arial", sans-serif;
    color: $black;
  }

  .main-footer__company-logo {
    padding-top: 0;

    &:focus .main-footer__icon-htmlacademy {
      fill: $green;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    background-color: #f2f2f2;
  }

  .main-footer__container {
    @include centring(0 auto, 1220px);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 48px;
  }

  .main-footer__footer-logo-link {
    margin: 0;
    padding-top: 8px;

    &:active {
      opacity: 0.6;
    }
  }

  .main-footer__copyright {
    padding-top: 6px;
  }

  .main-footer__company-link {
    @include content-text(16px, 20px);

    padding-top: 9px;
  }
}
