.product-selection {
  overflow: hidden;
}

.product-selection__wrapper {
  @include centring(0 auto, 280px);
}

.product-selection__title {
  @include content-text(14px, 18px);

  width: 230px;

  color: $black;
  text-transform: uppercase;
}

.product-selection__form {
  padding-top: 30px;
}

.product-selection__cat-parameters {
  margin: 0;
  padding: 0;

  border: none;
}

.product-selection__paragraph-list {
  margin: 0;
  padding: 0;
  padding-bottom: 24px;

  border-bottom: $border;
}

.product-selection__paragraph-item {
  @include centring(0 auto, 280px);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 17px;

  &:last-child {
    padding-bottom: 0;
  }
}

.product-selection__description {
  @include content-text(16px, 18px);

  position: relative;

  color: $black;
  text-transform: uppercase;

  &--program-padding {
    padding-left: 45px;

    &::before {
      content: "";

      position: absolute;
      top: -5px;
      left: 0;

      display: block;
      width: 28px;
      height: 28px;

      border: $border;
      border-radius: 50%;
    }
  }

  &--checkbox-padding {
    padding-left: 45px;

    &::before {
      content: "";

      position: absolute;
      top: -4px;
      left: 0;

      display: block;
      width: 28px;
      height: 28px;

      border: $border;
    }
  }
}

.product-selection__text-field {
  box-sizing: border-box;
  height: 42px;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;

  border: $border;

  &::placeholder {
    @include content-text(16px, 18px);

    font-family: "Oswald", "Arial", sans-serif;
    color: #444444;
    text-transform: uppercase;
  }

  &--name {
    width: 229px;
  }

  &--weight {
    width: 204px;
  }

  &--age {
    width: 172px;
  }

  &--mail {
    padding-top: 18px;
    width: 221px;
    height: 45px;
  }

  &--tel {
    padding-top: 19px;
    width: 206px;
    height: 45px;
  }
}

.product-selection__program-selection {
  padding: 0;

  border: none;
}

.product-selection__program-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 25px;

  border-bottom: $border;
}

.product-selection__program-item {
  padding-bottom: 18px;

  &:last-child {
    padding-bottom: 0;
  }
}

.product-selection__radio-button:focus {
  display: none;
}

.product-selection__radio-button:active {
  display: none;
}

.product-selection__radio-button:checked + .product-selection__description--program-padding {
  &::before {
    content: "";

    position: absolute;
    top: -5px;
    left: 0;

    display: block;
    width: 28px;
    height: 28px;

    border: $border;
    border-radius: 50%;
  }

  &::after {
    content: "";

    position: absolute;
    top: 4px;
    left: 9px;

    display: block;
    width: 12px;
    height: 12px;

    background-color: $green;
    border-radius: 50%;
  }
}

.product-selection__contact-cat {
  @include centring(0 auto, 280px);

  padding: 0;
  padding-bottom: 29px;

  border: none;
}

.product-selection__category-name {
  position: relative;

  padding-top: 29px;
  padding-bottom: 33px;
  padding-left: 0;
  padding-right: 0;
  width: 201px;

  &::after {
    content: "";
    position: absolute;
    top: 38%;
    right: 0;
    transform: translateX(100%);

    width: 100vw;
    height: 3px;
    background-color: $green;
  }
}

.product-selection__contact-list {
  margin: 0;
  padding: 0;
}

.product-selection__contact-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 14px;

  &:last-child {
    padding: 0;
  }
}

.product-selection__your-comment {
  @include centring(0 auto, 280px);

  position: relative;

  padding: 0;
  padding-bottom: 26px;

  border: none;
}

.product-selection__comment-name {
  @include content-text(24px, 24px);

  position: relative;

  padding-left: 0;
  padding-bottom: 35px;
  width: 140px;

  color: $black;

  &::after {
    content: "";
    position: absolute;

    top: 23%;
    right: 0;
    transform: translateX(100%);

    width: 100vw;
    height: 3px;
    background-color: $green;
  }
}

.product-selection__text-area {
  @include content-text(16px, 18px);

  padding-top: 13px;
  padding-left: 14px;
  padding-right: 12px;
  width: 280px;
  height: 150px;
  resize: none;
  box-sizing: border-box;

  font-family: "Oswald", "Arial", sans-serif;
  color: #444444;
  text-transform: uppercase;
}

.product-selection__extra-options {
  @include centring(0 auto, 280px);

  position: relative;

  padding: 0;

  border: none;
}

.product-selection__additionally {
  @include content-text(24px, 24px);

  position: relative;

  padding-left: 0;
  padding-bottom: 33px;
  width: 162px;

  color: $black;

  &::after {
    content: "";
    position: absolute;
    top: 23%;
    right: 0;
    transform: translateX(100%);

    width: 100vw;
    height: 3px;
    background-color: $green;
  }
}

.product-selection__checkbox-list {
  @include centring(0 auto, 280px);

  padding: 0;
  padding-bottom: 38px;
}

.product-selection__checkbox-item {
  padding-bottom: 18px;

  &:last-child {
    padding-bottom: 0;
  }
}

.product-selection__small {
  @include centring(0 auto, 280px);

  padding-top: 12px;

  text-align: center;
}

.product-selection__note {
  @include content-text(14px, 16px);

  font-family: "Arial", sans-serif;
  color: $black;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .product-selection > .product-selection__wrapper {
    @include centring(0 auto, 708px);

    padding: 0;
  }

  .product-selection__title {
    @include content-text(20px, 30px);

    margin: 0;
    padding-top: 39px;
    padding-left: 40px;
    width: 340px;
  }

  .product-selection__form {
    @include centring(0 auto, 626px);

    padding-top: 68px;
    padding-bottom: 72px;
  }

  .product-selection__paragraph-list {
    display: flex;
    flex-direction: column;
    padding: 0;

    border: none;
  }

  .product-selection__paragraph-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 22px;
    width: 629px;
  }

  .product-selection__description {
    @include content-text(20px, 20px);

    &--program-padding {
      padding-left: 53px;

      &::before {
        content: "";

        top: -9px;
        left: -4px;

        width: 37px;
        height: 37px;
      }
    }

    &--checkbox-padding {
      padding-left: 57px;

      &::before {
        content: "";

        width: 37px;
        height: 37px;
      }
    }
  }

  .product-selection__text-field {
    height: 50px;

    border: $border;

    &::placeholder {
      @include content-text(20px, 20px);
    }
  }

  .product-selection__text-field--name {
    padding-top: 21px;
    padding-left: 19px;
    width: 565px;
  }

  .product-selection__text-field--weight {
    padding-left: 19px;
    width: 536px;
  }

  .product-selection__text-field--age {
    padding-top: 22px;
    padding-left: 18px;
    width: 495px;
  }

  .product-selection__program-selection {
    padding-top: 74px;
  }

  .product-selection__program-list {
    @include centring(0 auto, 626px);

    padding: 0;

    border: $border;
  }

  .product-selection__program-item {
    padding: 0;
    padding-bottom: 33px;
    padding-left: 31px;

    &:first-child {
      padding-top: 32px;
    }

    &:last-child {
      padding-bottom: 35px;
    }
  }

  .product-selection__radio-button:checked + .product-selection__description--program-padding {
    &::before {
      content: "";

      top: -9px;
      left: -4px;

      width: 37px;
      height: 37px;
    }

    &::after {
      content: "";

      top: 2px;
      left: 6px;

      width: 18px;
      height: 18px;
    }
  }

  .product-selection__contact-cat {
    margin: 0;
    padding: 0;

    border: none;
  }

  .product-selection__category-name {
    @include content-text(36px, 36px);

    display: block;
    margin: 0;
    padding: 0;
    padding-top: 76px;
    padding-bottom: 76px;
    width: 552px;

    &::before {
      content: "";
      position: absolute;
      top: 52%;
      left: -40px;
      transform: translateX(-100%);

      width: 100vw;
      height: 3px;
      background-color: $green;
    }

    &::after {
      content: "";

      top: 52%;
    }
  }

  .product-selection__contact-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 23px;
    align-items: center;
    width: 631px;
  }

  .product-selection__text-field--mail {
    padding-top: 21px;
    padding-left: 21px;
    width: 550px;
  }

  .product-selection__text-field--tel {
    padding-left: 21px;
    width: 536px;
  }

  .product-selection__your-comment {
    margin: 0;
  }

  .product-selection__comment-name {
    @include content-text(36px, 36px);

    padding: 0;
    padding-top: 66px;
    width: 220px;

    color: $black;

    &::before {
      content: "";

      position: absolute;
      top: 84%;
      left: -40px;
      transform: translateX(-100%);

      width: 100vw;
      height: 3px;
      background-color: $green;
    }

    &::after {
      content: "";

      top: 84%;
    }
  }

  .product-selection__paragraph-data {
    padding-top: 73px;
  }

  .product-selection__text-area {
    @include content-text(20px, 30px);

    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 17px;
    padding-left: 18px;
    padding-right: 18px;
    resize: none;
    height: 173px;
    width: 629px;

    color: #444444;
    text-transform: uppercase;

    border: $border;
  }

  .product-selection__extra-options {
    margin-left: 0;
    padding-bottom: 60px;
  }

  .product-selection__additionally {
    @include content-text(36px, 36px);

    margin: 0;
    padding-top: 36px;
    padding-bottom: 65px;
    padding-left: 0;
    width: 249px;

    &::before {
      content: "";

      position: absolute;
      top: 41%;
      left: -40px;
      transform: translateX(-100%);

      width: 100vw;
      height: 3px;
      background-color: $green;
    }

    &::after {
      content: "";

      top: 41%;
    }
  }

  .product-selection__checkbox-list {
    @include centring(0 auto, 635px);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }

  .product-selection__checkbox-item {
    padding-top: 49px;
    padding-bottom: 0;
    padding-right: 61px;
    width: 284px;

    &:first-child {
      padding-top: 0;
    }

    &:nth-child(2) {
      padding-top: 0;
    }

    &:nth-child(2n + 2) {
      padding-right: 0;
    }
  }

  .product-selection__wrapper {
    display: flex;
    flex-direction: row;
    margin: 0;
    width: auto;
  }

  .product-selection__small {
    margin: 0;
    width: 250px;
    padding-top: 10px;
    padding-left: 60px;

    text-align: left;
  }

  .product-selection__note {
    @include content-text(16px, 16px);
  }
}

@media (min-width: $desktop-width) {
  .product-selection > .product-selection__wrapper {
    @include centring(0 auto, 1220px);
  }

  .product-selection__title {
    @include content-text(20px, 30px);

    padding-top: 53px;
    padding-left: 0;
    width: 345px;

    color: $black;
  }

  .product-selection__form {
    @include centring(0 auto, 1220px);

    padding-top: 65px;
    padding-bottom: 81px;
  }

  .product-selection__first-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .product-selection__cat-parameters {
    padding-right: 80px;
    width: 570px;
  }

  .product-selection__paragraph-list {
    width: 570px;
    padding: 0;

    border: none;
  }

  .product-selection__paragraph-item {
    padding-bottom: 18px;
    width: 570px;
  }

  .product-selection__description--checkbox-padding {
    padding-left: 59px;

    &::before {
      content: "";

      top: -6px;
    }
  }

  .product-selection__text-field {
    box-sizing: border-box;
    padding-top: 22px;
    padding-left: 17px;
    padding-right: 20px;
    height: 54px;

    border: $border;
  }

  .product-selection__text-field--name {
    width: 506px;
  }

  .product-selection__text-field--weight {
    width: 473px;
  }

  .product-selection__text-field--age {
    width: 434px;
  }

  .product-selection__program-selection {
    margin: 0;
    padding: 0;
  }

  .product-selection__program-list {
    margin: 0;
    padding: 0;
    width: 570px;
  }

  .product-selection__program-item {
    padding-top: 33px;
    padding-bottom: 0;
    padding-left: 33px;

    &:first-child {
      padding-top: 33px;
      padding-left: 33px;
    }
  }

  .product-selection__contact-cat {
    padding: 0;

    border: none;
  }

  .product-selection__category-name {
    padding-top: 69px;
    padding-bottom: 73px;
    width: 554px;

    &::before {
      content: "";
      top: 50%;
    }

    &::after {
      content: "";

      top: 50%;
    }
  }

  .product-selection__contact-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .product-selection__contact-item {
    padding: 0;
    padding-right: 80px;
    width: 570px;
  }

  .product-selection__text-field--mail {
    width: 487px;
  }

  .product-selection__text-field--tel {
    width: 471px;
  }

  .product-selection__your-comment {
    @include centring(0 auto, 1220px);

    padding: 0;
  }

  .product-selection__comment-name {
    padding-top: 70px;
  }

  .product-selection__text-area {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 18px;
    padding-right: 18px;
    width: 1220px;
    height: 173px;
  }

  .product-selection__extra-options {
    @include centring(0 auto, 1220px);

    padding-bottom: 69px;
  }

  .product-selection__additionally {
    padding-top: 65px;
    padding-bottom: 51px;

    &::before {
      content: "";

      top: 57%;
    }

    &::after {
      content: "";

      top: 57%;
    }
  }

  .product-selection__checkbox-list {
    @include centring(0 auto, 1220px);
  }

  .product-selection__checkbox-item {
    padding-top: 0;
    padding-right: 79px;
    width: 245px;

    &:nth-child(3) {
      padding-left: 82px;
    }
  }

  .product-selection__wrapper {
    display: flex;
    flex-direction: row;
  }

  .product-selection__small {
    margin: 0;
    padding-top: 0;
    padding-left: 80px;
    width: 245px;

    text-align: left;
  }
}
