.product-price {
  margin: 0 auto;
  min-width: 320px;
}

.product-price__list {
  @include centring(0 auto, 280px);

  margin-top: 23px;
  padding: 0;
}

.product-price__item {
  margin-bottom: 20px;

  background-color: $bg-gray;

  &:last-child {
    margin: 0;
  }
}

.product-price__title {
  @include centring(0 auto, 240px);
  @include content-text(24px, 37px);

  padding-top: 39px;
  padding-bottom: 39px;

  color: $black;
  text-transform: uppercase;
}

.product-price__description {
  @include centring(0 auto, 240px);
  @include content-text(14px, 18px);

  padding-bottom: 24px;

  font-family: "Arial", sans-serif;
  color: $black;

  border-bottom: $border;
}

.product-price__link {
  @include centring(0 auto, 240px);
  @include content-text(16px, 16px);

  display: block;
  padding-top: 20px;
  padding-bottom: 22px;

  color: $black;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .product-price {
    @include centring(0 auto, 708px);

    margin-top: 530px;
  }

  .product-price__list {
    @include centring(0 auto, 708px);
  }

  .product-price__item {
    margin-bottom: 30px;
  }

  .product-price__title {
    @include content-text(36px, 37px);

    margin: 0;
    padding-top: 85px;
    padding-bottom: 34px;
    padding-left: 55px;
    width: 217px;
  }

  .product-price__description {
    @include content-text(16px, 24px);

    margin: 0;
    padding-bottom: 57px;
    padding-left: 55px;

    border: none;
  }

  .product-price__link {
    margin: 0;
    padding-bottom: 65px;
    padding-left: 55px;
    width: 157px;
  }
}

@media (min-width: $desktop-width) {
  .product-price {
    @include centring(0 auto, 1220px);

    margin-top: 266px;
  }

  .product-price__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1220px;
  }

  .product-price__item {
    margin: 0;
    width: 570px;
  }

  .product-price__title {
    padding-top: 83px;
    padding-bottom: 82px;
    padding-left: 211px;
  }

  .product-price__description {
    @include content-text(16px, 24px);

    padding-bottom: 38px;
    padding-left: 55px;
    width: 466px;

    font-family: "Arial", sans-serif;
  }

  .product-price__link {
    @include content-text(20px, 20px);

    padding-bottom: 64px;
    padding-left: 55px;
  }
}
