.program-selection {
  min-width: 320px;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% 305px;
}

.program-selection__title {
  @include centring(0 auto, 280px);
  @include content-text(36px, 36px);

  padding-top: 25px;

  color: $white;
  text-align: center;
}

.program-selection__sub-title {
  @include centring(0 auto, 230px);
  @include content-text(14px, 14px);

  position: relative;

  padding-top: 27px;
  padding-bottom: 303px;

  color: $white;
  text-transform: uppercase;
  text-align: center;

  &::after {
    content: "";

    position: absolute;
    margin: auto;
    top: 70px;
    left: 0;
    right: 0;

    display: block;
    width: 220px;
    height: 256px;

    background-image: url("../img/index-can-mobile@1x.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media (min-width: $tablet-width) {
  .program-selection {
    @include centring(0 auto, 708px);

    background-image: none;
  }

  .program-selection__title {
    @include content-text(60px, 60px);

    margin: 0;
    margin-left: 120px;
    padding-top: 58px;
    width: 417px;

    color: $black;
    text-align: left;
  }

  .program-selection__sub-title {
    @include content-text(20px, 20px);

    margin: 0;
    padding-left: 120px;
    padding-top: 50px;
    padding-bottom: 30px;
    width: 290px;

    color: $black;
    text-transform: uppercase;
    text-align: left;

    &::after {
      content: "";

      position: absolute;
      top: 100px;
      left: 0;
      z-index: 1;

      display: block;
      width: 495px;
      height: 600px;

      background-image: url("../img/index-can-tablet@1x.jpg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

@media (min-width: $desktop-width) {
  .program-selection {
    @include centring(0 auto, 1220px);
  }

  .program-selection__title {
    margin: 0;
    padding-top: 110px;
    padding-left: 80px;
    width: 470px;

    color: $black;
  }

  .program-selection__sub-title {
    position: static;

    padding-bottom: 0;
    padding-left: 80px;
    width: 318px;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;

      display: block;
      height: 698px;
      width: 720px;

      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-size: contain;
    }

    &::after {
      content: "";

      position: absolute;
      right: -175px;
      top: 150px;

      display: block;
      height: 475px;
      width: 405px;

      background-image: url("../img/index-can-desktop@1x.png");
      background-repeat: no-repeat;
      background-size: 405px 475px;
    }
  }
}
