.program-selection {
  width: 100%;
  margin: $content-center;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% 305px;
}

@media (min-width: $tablet-width) {
  .program-selection {

    background-image: none;
  }
}

.program-selection__title {
  margin: $content-center;
  padding-top: 25px;
  width: $center;

  color: $white;
  font-size: $title;
  font-weight: $regular;
  line-height: $title;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .program-selection__title {
    margin: 0;
    margin-left: 120px;
    padding-top: 58px;
    width: 413px;

    color: $black;
    text-align: left;
  }
}

.program-selection__sub-title {
  position: relative;

  margin: $content-center;
  padding-top: 27px;
  padding-bottom: 303px;

  color: $white;
  font-size: $description;
  font-weight: $regular;
  line-height: $description;
  text-transform: uppercase;
  text-align: center;

  &::after {
    content: "";

    position: absolute;
    margin: auto;
    top: 70px;
    left: 0;
    right: 0;

    display: block;
    width: 220px;
    height: 256px;

    background-image: url("../img/index-can-mobile@1x.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media (min-width: $tablet-width) {
  .program-selection__sub-title {
    position: relative;

    margin: 0;
    margin-left: 120px;
    padding-top: 50px;
    padding-bottom: 30px;
    width: 290px;

    color: $black;
    text-align: left;

    &::after {
      position: absolute;
      top: 80px;
      left: 0;
      z-index: 1;

      display: block;
      width: 265px;
      height: 600px;

      background-image: url("../img/index-can-mobile@1x.png");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}
