.wrapper {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .wrapper {
    min-width: 768px;
    margin: 0 auto;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .wrapper {
    width: 1220px;
    margin: 0 auto;
    padding: 0;
  }
}
