@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  src: local("Oswald regular"),
    local("Oswald-regular"),
    url("/fonts/oswaldregular.woff2") format("woff2");
}

@font-face {
  font-family: "Oswald-medium";
  font-weight: 500;
  font-style: normal;
  src: local("Oswald medium"),
    local("Oswald-medium"),
    url("/fonts/oswaldmedium.woff2") format("woff2");
}

body {
  @include content-text(24px, 24px);

  position: relative;

  min-width: 320px;
  margin: 0;

  font-family: "Oswald", "Arial", sans-serif;
  color: $black;

  background-color: $white;
}

@media (min-width: $tablet-width) {
  body {
    @include content-text(16px, 24px);

    min-width: 768px;
  }
}

@media (min-width: $desktop-width) {
  body {
    @include content-text(36px, 36px);

    width: 1440px;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
