@mixin centring($margin, $width) {
  margin: $margin;
  width: $width;
}

@mixin content-text($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $regular;
}
