$title: 36px;
$sub-title: 24px;
$description: 14px;
$medium: 500;
$regular: 400;
$content-center: 0 auto;
$btn-green: #68b738;
$ph-width: 320px;
$center: 280px;
$border: 1px solid #d9d9d9d9;
$white: #ffffff;
$black: #000000;
$bg-gray: #f2f2f2;
